body,
table,
tr,
td {
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

.contentTable {
    width: 90%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h2 {
    padding-top: 18px;
    margin-bottom: 4px;
    vertical-align: middle;
}

h2 div {
    display: flex;
    align-items: center;
}

h2 div span {
    margin-left: 4px;
}

small {
    font-size: x-small;
}

input[type="checkbox"] {
    transform: scale(1.5, 1.5);
    margin-right: 10px;
}

.controlButton {
    height: 32px;
    width: 32px;
}


/* Login page */

.login {
    background-imageOff: url('images/chessboard-3d.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.explainer {
    font-size: small;
    font-style: italic;
    padding: 20px;
}

.tableBorder {
    border-collapse: collapse;
    border: none;
}

.tableBorder td {
    border-collapse: collapse;
    border: none;
}

.tableOption {
    border-top: 1px solid dimgray;
    border-left: 1px solid dimgray;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 12px;
}

.button {
    padding: 6px 12px 6px 12px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
    border-radius: 3px;
}

.button:active {
    border-top: 1px solid darkslategray;
    border-left: 1px solid darkslategray;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}